p{
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}
#score1,#score2,#time{
    font-size: 5rem;
}

#score1{
    color: #fff;
    background-color: #000;
}
#score2{
    color:#fff;
    background-color: #000;
}
.main{
    margin: 10px;
}
#section{
    width: 100%;
}
#section>*{
    padding: 30px;
    margin: 20px;
}
body{
    margin: 0;
}
canvas{
    border: 1px solid #000;
}